parameters:
    open_orchestra_elastica.indexor.content.class: OpenOrchestra\Elastica\Indexor\ContentIndexor
services:
    open_orchestra_elastica.indexor.content:
        class: %open_orchestra_elastica.indexor.content.class%
        arguments:
            - @open_orchestra_elastica.client.elastica
            - @open_orchestra_elastica.transformer.content
            - %open_orchestra_elastica.index.name%
