language: php

cache:
  directories:
    - ~/.composer/cache

php:
  - 5.5

sudo: false

cache:
  directories:
    - ~/.composer/cache
    - ~/composer

before_install:
  - if [ -f ~/composer/composer.phar ]; then mv ~/composer/composer.phar ./; else wget https://getcomposer.org/composer.phar; fi
  - mkdir -p ~/composer
  - cp composer.phar ~/composer/composer.phar

install:
  - php -d memory_limit=-1 ./composer.phar install --no-progress --prefer-dist

script: ./bin/phpunit

addons:
  code_climate:
    repo_token: fe841bbf59f2ae5e4a803e9edc18804a8597a91d9216c60616a59674613eeebd

after_script:
  - ./bin/test-reporter
