<div class="block-icon-font">
    <i class="fa fa-search block-icon"></i>
    <p class="block-text">
        <strong>{{ 'open_orchestra_elastica_admin.block.elastica_search.title' | trans }}</strong>
        {{ 'open_orchestra_elastica_admin.block.elastica_search.description' | trans }}
    </p>
</div>
